<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path, class: "label label-default" %></li>
      <li><%= link_to "Contact", new_contact_path, class: "label label-default" %></li>
      <li><%= link_to "News","http://news.railstutorial.org/", class: "label label-default" %></li>
    </ul>
  </nav>
</footer>